.table-container{
    display: flex;
    
    height: 68vh;
    
}
.table-first{
    margin-left: 5vh;
    color: black;
    height: 20%;
  
}
.table-body{
 
    margin-bottom: 10%;
    height: 80vh;
}
.loc{
    color: black;
}
.table-form{
    justify-content: center;
    text-align: center;
    display: inline;
    width: 50%;
   
    color: black;
    height: 100%;
}
.table-btn{
    
    height: 10%;
    margin-left: 5vh;
}