.foot-container{
   
    height: 80vh;
    margin-bottom: 10%;
}
.foot-img{
    
    margin-top: -6ch;
    margin-left: 8ch ;
    
}
.foot-first{
    
  
    height: 10%;
    color: black;
    justify-content: center;
    text-align: center;
}
.foot-card{
 
    height: 80%;
    display: flex;
}
.foot-card-1{
    
    height: 80%;
    width: 50%;
}
.foot-card-2{
    
    height: 80%;
    width: 50%;
}